# VSCode SetUp
.vscode/

# Pycache Folder
airflow/dags/__pycache__/
airflow/dags/utils/__pycache__/

# Data Layer Folder
airflow/data_layers/

# Airflow Logs
airflow/logs/

# Airflow DB
airflow/airflow.db
airflow/airflow.db-journal
